body{
	background-color:#EBE5EB;
	font-family:'Lato';
}
#header{
	background-image:url("../images/bg.jpg");
	min-height: 768px;
	background-repeat: no-repeat;
	background-position:center center;
	background-size:cover;
}

.username_exists{
	text-align:center;
	font-size:20px;
	color: #DD2706;
	margin-top: 20px;
}

.alert-warning {
	background-color: rgba(244, 241, 241, 0.78);
	border-color: #eeeeee;
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

.fb{
	background-color:#3B5998;
}

.tweet{
	background-color: #3C97D3;
}

.google{
	background-color:#E74C3C;
}

.social-login i{
	padding-right:20px;
	margin:0 20px;
	border-right:1px solid white;
}
.seperator{
	margin-top:6px;
	margin-bottom:11px;
}

.fb i{
	padding-right:27px;
}

.modal-dialog{
	width:358px;
}


.social-login{
	padding:6px 0px;
	border:none;
	border-radius:0px;
	color:white;
	font-size:20px;
	font-weight:300;
	text-align:left;
	margin-bottom:12px;
}
.social-login.fb:hover{
	background-color:#2B426B;
}
.social-login.tweet:hover{
	background-color: #297199;
}
.social-login.google:hover{
	background-color: #B73832;
}
.login-cred{
	height:43px !important;
	font-size:16px;
}
.submit{
	border:none;
	border-radius:0px;
	background-color: #27B78C;
	font-size: 21px;
	font-weight: 300;
	color: white;
}
.submit:hover{
	color:white;
	background-color: #238E6A;
	text-decoration:none;
}

.question{
	font-family:'Lato';
	font-weight:bold;
	color:#562C84;
	margin-top:20px;
	text-align:left;
	margin-bottom:20px;
	font-size:230%;
}

.login, .sign{
	border:none;
	color:white;
	font-size:20px;
	border-radius:0px;
	width:100px;
	height:40px;
	text-align:center;
	font-weight:300;
}

#email_display{
	color: rgba(26, 23, 23, 0.5);
	font-size: 120%;
	text-align: right;
	margin-top:5vh;
	position:fixed;
	left:-4vh;
	z-index:999999 !important;
}

.login{
	background-color:#F5A9CA;
}

.login:hover{
	color:#B87FB7;
}

.sign{
	background-color:#B87FB7;
}

.sign:hover{
	color:#F5A9CA;
}

.addreso{
	margin-top:20px;
	margin-bottom:20px;
}

.modal-body{
	width:398px;
}

.form-control{
	height:48px;
	border-radius:0px;
	font-size:16px;
}

.dropdown-toggle{
	line-height:2.45;
	border-radius:0px;
}

.addresolution{
	padding-right:0px;
}

.dropdown-menu{
	font-size:16px;
}

.reminder{
	padding-top:15px;
	text-align:center !important;
}
.reminder a{
	text-decoration:none;
	color:#666;
	font-size:100%;
	padding-left:2px;
}
.reminder a:hover{
	color:#B87FB7;
}
.addreso-btn{
	background-color:#8071B3;
	border-radius:0px;
	border:none;
	margin-bottom:30px;
	color:rgba(255,255,255,0.9);
	font-weight:300;
}
.addreso-btn:hover{
	background-color:#625A8C;
	color:white;
}

.done{
	border-radius:0px;
	border:none;
	color:rgba(255,255,255,0.9);
	margin-bottom:30px;
	background-color:#F392BC;
	font-weight:300;

}
.done:hover{
	background-color:#C67FA2;
	color:white;
}

hr{
	border-top: 1px solid #aaa;
	margin-bottom:35px;
}

footer{
	background-color:#412566;
	padding:10px 0px;
	color:white;
	margin-top:100px;
}
.icons{
	padding-left:6px;
	padding-right:6px;
	text-align:center;
	
}
i.social{
	font-size: 160%;
}

span.social{
	opacity: 0.5;
}

.social:hover{
	opacity:0.6;	
}

.social{
	margin-left:6px;
	margin-right:6px;
	font-size:20px;
	text-align:center;
}

.development{
	font-size:100%;
	text-align:center;
	font-weight:300;
}

.parsley-type, .parsley-minlength, .parsley-maxlength, .parsley-alphanum, .parsley-equalto{
	list-style:none;
	color:#DD4B39;
	text-align:center;
	margin-left:-40px;
}

.has-success .form-control {
	border-color: #27B78C;
}